<a href="https://colab.research.google.com/github/paulaassisb/br-python-preparatorio/blob/master/paulaassis_python_exercises_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/YX6UATs.png)

### **Exercícios de Python - 2**

1 - Faça um programa, com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [4]:
def argumento(a):
  if a <= 0:
    return "N"
  else:
    return "P"

argumento(5)

'P'

2 - Faça um programa que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro.

In [10]:
def acesso():
  login = input('Digite seu nome de usuário:')
  senha = input('Digite sua senha:')
  if login == senha:
    return "A senha cadastrada não pode ser igual ao nome do usuário"
  else:
    return "Senha cadastrada com sucesso!"

acesso()

Digite seu nome de usuário:testando-teste
Digite sua senha:testando-teste

'A senha cadastrada não pode ser igual ao nome do usuário'

3 - Faça uma função cujo input é uma lista de números e que retorne a média e a mediana desses números sem a importação de módulos. \
*Dica: procure as fórmulas na internet, caso não se lembre*

4 - Utilizando listas faça um programa que faça 5 perguntas para uma pessoa sobre um crime. As perguntas são:
- "Telefonou para a vítima?"
- "Esteve no local do crime?"
- "Mora perto da vítima?"
- "Devia para a vítima?"
- "Já trabalhou com a vítima?" \
O programa deve no final emitir uma classificação sobre a participação da pessoa no crime. Se a pessoa responder positivamente a 2 questões ela deve ser classificada como "Suspeita", entre 3 e 4 como "Cúmplice" e 5 como "Assassino". Caso contrário, ele será classificado como "Inocente".

In [21]:
def caso_crime():
  quest1 = input('Telefonou para a vítima? Responda SIM ou NÃO: ')
  quest2 = input('Esteve no local do crime? Responda SIM ou NÃO: ')
  quest3 = input('Mora perto da vítima? Responda SIM ou NÃO: ')
  quest4 = input('Devia para a vítima? Responda SIM ou NÃO: ')
  quest5 = input('Já trabalhou com a vítima? Responda SIM ou NÃO: ')
  print('\n')

  quest = [quest1, quest2, quest3, quest4, quest5]

  respostas = []
  for i in quest:
    if i == 'sim':
      i = 1
      respostas.append(i)
    else:
      i = 0
      respostas.append(i)

  respostas

  if sum(respostas) == 5:
    print('Assassino')
  elif sum(respostas) > 2 < 5:
    print('Cúmplice')
  elif sum(respostas) == 2:
    print('Suspeita')
  else:
    print('Inocente')

caso_crime()

Telefonou para a vítima? Responda SIM ou NÃO: sim
Esteve no local do crime? Responda SIM ou NÃO: não
Mora perto da vítima? Responda SIM ou NÃO: sim
Devia para a vítima? Responda SIM ou NÃO: sim
Já trabalhou com a vítima? Responda SIM ou NÃO: não


Cúmplice

5 - A lista abaixo possui nomes de alunos de uma classe. Crie um loop que imprima '{nome} é aluno da classe'

In [22]:
nomes =['Maria','João','Marcelo','Jonas','Laura','Luana']

In [23]:
for nome in nomes:
  print (f'{nome} está na lista')

Maria está na lista
João está na lista
Marcelo está na lista
Jonas está na lista
Laura está na lista
Luana está na lista

6 - Utilizando-se da mesma lista trabalhada acima e a lista dada abaixo, que contem as idades dos alunos, realize um loop que faça a iteração com as duas listas printando "{nome} tem {idade} anos".
Dica: utilize *zip*()

In [25]:
idades =[23,34,42,54,26,27]

In [26]:
nome_idade = list(zip(nomes, idades))
for i in nome_idade:
  print (f'{i[0]} tem {i[1]} anos.')

Maria tem 23 anos.
João tem 34 anos.
Marcelo tem 42 anos.
Jonas tem 54 anos.
Laura tem 26 anos.
Luana tem 27 anos.

7 - Transforme as duas listas anteriores em um dicionário cuja chave é o nome e o valor é a idade.

In [27]:
nome_idade

[('Maria', 23),
 ('João', 34),
 ('Marcelo', 42),
 ('Jonas', 54),
 ('Laura', 26),
 ('Luana', 27)]

In [31]:
dicionario = {}
for i in nome_idade:
  dicionario[i[0]]= {}
  dicionario[i[0]]['idade']=i[1]

dicionario

{'Jonas': {'idade': 54},
 'João': {'idade': 34},
 'Laura': {'idade': 26},
 'Luana': {'idade': 27},
 'Marcelo': {'idade': 42},
 'Maria': {'idade': 23}}

Exercícios adaptados de Python Brasil